<head>
 <meta name="viewport" content="width=device-Width">
 <%= stylesheet_link_tag 'profiles', media: 'all', 'data-turbolinks-track': 'reload' %> 
</head>

<header>
  <%= image_tag 'logo.png' %>
</header>  


<%= form_with model: @user, url: "/profiles", class:'profile-edit', local: true do |f|%>
  <table>
    <tr>
      <th>
        <%= f.label :email %>
      </th>
      <td>  
        <%= f.email_field :email, class: 'form-control mb-3' %>
      </td>
    </tr>
    <tr>
      <th>
      <%= f.label :name %>
      </th>
      <td>
        <%= f.text_field :name, class: 'form-control mb-3' %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :image ,"アイコン画像"%>
      </th>
      <td>
        <%= f.file_field :image,class: 'form-control mb-3', accept: 'image/*' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.hidden_field :image_cache %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit "更新", class: "btn btn-primary"%>
      </td>
    </tr>
  </table>
<%end%>

