
<table>
<caption>ブックマーク一覧</caption>
<thead>
  <tr>
    <th>投稿者名</th>
    <th>タイトル</th>
    <th>本文</th>
    <th><%= link_to 'topへ戻る', root_path %></th>
  </tr>
</thead>
<p>名前<p>名前 : <%= @user.name %></p></p>
<p><%= link_to @user.followings.count,user_followings_path(@user)%> フォロー <%= link_to @user.followers.count, user_followers_path(@user) %> フォロワー</p>



<% @bookmarks.each do |bookmark| %>
  <% @post = Post.find_by(id: bookmark.post_id) %> 
  <% @post.image.each do |img|%>
      <%= image_tag img.to_s%>   
  <%end%>   
  <p><%= @post.body %></p>

  
  <% end %>
  


