<h2> 投稿詳細 </h2>
 <% @post.image.each do |img|%>
    <%= image_tag img.to_s%>  
    <%end%>
 <p><%= @post.body %></p>

 <% @post.lines_tag.each do |lines_tag| %>
   <span><%= lines_tag.name %><br></span>
<% end %>

<% @post.genre_tags.each do |genre_tags| %>
   <span><%= genre_tag.name %><br></span>
<% end %>

 <% if @post.liked?(current_user) %>
  <%= link_to post_likes_path(@post.id), method: :delete do %> <%= @post.likes.count %>
     <span style="color:red;">❤︎</span>
  <% end %>
  <% else %>
  <%= link_to post_likes_path(@post.id), method: :post do %><%= @post.likes.count %>
    <span>❤︎</span> 
 <% end %>
<% end %>

	
<h2> コメントをする </h2>
<%= form_with(model:[@post, @comment], method: :post) do |f| %>
	<%= f.text_area :comment_content %>
	<%= f.hidden_field :post_id, value: @post.id %>
	<%= f.submit 'コメントする' %>
<% end%>
	
	<%= link_to 'topへ戻る', root_path %>
 <hr> 

<h2> コメント一覧 </h2>
<% @comments.each do |comment| %>
 <hr>
 <a href="/users/#{comment.user_id}"><%= comment.user.name %></a>
 <%= comment.comment_content %>
<% end%>

<% if  @post_like.present? %>
  <h1>早くエラーなおれ</h1>
  <% else %>
  <h1>中身がありません</h1>
<%end%>  



