 <h2> 投稿詳細 </h2>
 <% @post.image.each do |img|%>
    <%= image_tag img.to_s%>  
    <%end%>
 <p><%= @post.body %></p>

 
	
<h2> コメントをする </h2>
<%= form_with(model:[@post, @comment], method: :post) do |f| %>
	<%= f.text_area :comment_content %>
	<%= f.hidden_field :post_id, value: @post.id %>
	<%= f.submit 'コメントする' %>
 <% end%>
	
	<%= link_to 'topへ戻る', root_path %>
 <hr>
<h2> コメント一覧 </h2>
<% @comments.each do |comment| %>
 <hr>
 <a href="/users/#{comment.user_id}"><%= comment.user.name %></a>
 <%= comment.comment_content %>
<% end%>




