<h1>Home#top</h1>
<% if current_user %>
 <h2><strong>ログイン中です</strong></h2>


 <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
 <%= link_to "ブックマーク", mypage_path(current_user.id) %> 
 <%= link_to "マイページ", userpage_path(current_user.id) %> 


 <% else %>
  ログインしていません。<br>
 <%= link_to "ログイン", "/users/sign_in" %> 
<% end %>

<% if user_signed_in? %>
 <%= button_to "投稿", "/posts/new", {method: :get} %>

  <%= form_tag({controller:"home",action:"top"}, method: :get) do %>
     <% LinesTag.all.each do |t| %>
       <li><%= check_box :lines_tag_ids, t.name %><%= t.name %></li>
     <% end %>
     <% GenreTag.all.each do |t| %>
       <li><%= check_box :genre_tag_ids, t.name %><%= t.name %></li>
    <% end %>  
   <%= submit_tag '検索' %>
  <% end %>

 <h2>投稿一覧</h2><br>
  <% @posts.each do |post| %>
      <tr>
        <% post.image.each do |img|%>
         <%= image_tag img.to_s%>
        <% end %> 
        <p><td><%= post.body %></td></p>
        <p><td><%= post.user_id %></td></p>
        <p><td><%= post.created_at %></td></p>
        <p><td><%= link_to '投稿詳細ページ', "/home/show/#{post.id}" %></td></p> 
        <hr>
      </tr>
  <% end %>
<% end %>  