<h1>Home#top</h1>
<% if current_user %>
<h2><strong>ログイン中です</strong></h2>


<%= link_to "ログアウト",destroy_user_session_path, method: :delete %>

<% else %>
ログインしていません。<br>
<%= link_to "ログイン", "/users/sign_in" %>
<% end %>
<% if user_signed_in? %>
 <%= button_to "投稿", "/posts/new", {method: :get} %>
 <h2>投稿一覧</h2><br>
  <% @posts.each do |post| %>
      <tr>
        <% post.image.each do |img|%>
         <%= image_tag img.to_s%>
        <% end %> 
        <p><td><%= post.body %></td></p>
        <p><td><%= post.user_id %></td></p>
        <p><td><%= post.created_at %></td></p>
        <p><td><%= link_to '投稿詳細ページ', "/home/show/#{post.id}" %></td></p> 

        
        <hr>
      </tr>
  <% end %>
<% end %> 




