<%= @user.name %>

<p><%= link_to @user.followings.count,user_followings_path(@user)%> フォロー <%= link_to @user.followers.count, user_followers_path(@user) %> フォロワー</p>
<br>
<%= link_to 'topへ戻る', root_path %>

<table class="table">
  <tr>
    <th scope="row"><%= t(User.human_attribute_name(:email)) %></th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th scope="row"><%= t(User.human_attribute_name(:name)) %></th>
    <td><%= @user.name %> </td>
  </tr>
  <tr>
    <th scope="row"><%= t(User.human_attribute_name(:picture)) %></th>
    <td><%= image_tag @user.image.url, class: 'rounded-circle', size: '50x50' %></td>
  </tr>
</table>

<% if @user == current_user %>    
  <%= link_to '編集', edit_profile_path %>     
  <% else %>  
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% end %>

  <% if current_user.following?(@user) %>
     <%= link_to  user_relationships_path(@user.id), method: :delete do %>
        <button>フォロー解除</button>
      <% end %>
      <% else %>
      <%= link_to user_relationships_path(@user.id), method: :post do %>
        <button>フォロー</button>
      <% end %>
  <% end %>
<% end %>

<% @user.posts.each do |post| %>
  <tr>
     <% post.image.each do |img|%>
       <%= image_tag img.to_s%>
      <% end %> 
      <p><td><%= post.body %></td></p>
      <p><td><%= link_to '投稿詳細ページ', "/posts/#{post.id}" %></td></p>
   </tr>
<% end %>



