<h1>投稿</h1>
<%= form_with model: @post, local: true do |form| %>
 <p><%= form.label :body %><br>
  <%= form.text_area :body %> #bodyの入力フォーム生成
 </p>
 <%= form.label :image %>
 <%= form.file_field :image, multiple: true %> 
 <%= form.hidden_field :image_cache %><br>

 <%= form.collection_check_boxes(:lines_tag_ids, LinesTag.all, :id, :image) do |line_tag| %>
   <img src = "<%= line_tag.object.image %>">
   <%= line_tag.label %>
   <%= line_tag.check_box class: 'form-check-input' %> 
<% end %>

 <p> <%= form.submit %> #送信ボタンを生成</p>
<% end %>
