<h1>投稿</h1>
<%= form_with model:@post do |f| %>
 <p><%= f.label :body %><br>
  <%= f.text_area :body %> #bodyの入力フォーム生成
 </p>
 <%= f.label :image %>
 <%= f.file_field :image, multiple: true %> 
 <%= f.hidden_field :image_cache %><br>

 <%= f.collection_check_boxes(:lines_tag_ids, LinesTag.all, :id, :image) do |line_tag| %>
   <img src = "<%= line_tag.object.image %>">
   <%= line_tag.label %>
   <%= line_tag.check_box class: 'f-check-input' %>  
<% end %>


 <p> <%= f.submit %> #送信ボタンを生成</p>
<% end %>
