<header>
  <%= image_tag 'logo.png' %>
</header>  


<h1>投稿</h1>
<%= form_with model: @post, local: true do |form| %>
 <p>
   <%= form.text_area :body %> 
 </p>
 <%= form.label :image %>
 <%= form.file_field :image, multiple: true %> 
 <%= form.hidden_field :image_cache %><br>
<strong>タグ設定</strong><br>

<%= form.collection_check_boxes(:lines_tag_ids, LinesTag.all, :id, :image) do |line_tag| %>
  <img src = "<%= line_tag.object.image %>">
  <%= line_tag.label %>
  <%= line_tag.check_box class: 'form-check-input' %>  
<% end %>


<p> <%= form.submit "投稿"%></p>
<% end %>

<%= link_to 'topへ戻る', root_path %>