<h1>投稿</h1>
<%= form_with model: @post, local: true do |form| %>
 <p><%= form.label :body %><br>
  <%= form.text_area :body %> #bodyの入力フォーム生成
 </p>

 <%= form.label :image%>
 <%= form.file_field :image, multiple: true %> 
 <%= form.hidden_field :image_cache %>
<br>
<% LinesTag.all.each do |tagpics|%>
    test
    <%= tagpics.image.to_s%>
<%end%>

 
    
 <p>
  <%= form.submit %> #送信ボタンを生成
 </p>
<% end %>
